/* 진입 시작 */
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

/* 진입 활성 */
.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

/* 퇴장 시작 */
.fade-exit {
  opacity: 1;
  transform: scale(1);
}

/* 퇴장 활성 */
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
} 